h1 {
  color: grey;
  display: inline-block;
}
h2 {
  margin-top: -100px;
}
li {
  list-style-type: none;
  position: relative;
  top: -10px;
}
input {
  width: 40%;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-left: -200px;
}

.time,
.temp {
  font-size: smaller;
  float: left;
  text-align: center;
  position: relative;
  top: 25px;
}
.temp {
  color: grey;
  position: relative;
  left: -85px;
}
.time {
  text-decoration: underline;
  color: darkgrey;
  left: -40px;
}
.btn {
  display: inline;
  font-size: 20px;
}
#search-btn {
  position: relative;
  top: -42px;
  left: 60px;
  color: rgba(0, 128, 0, 0.799);
  background-color: rgba(1, 186, 1, 0.251);
}
#current-loc-btn {
  position: relative;
  top: -86px;
  left: 200px;
  color: #df6507ae;
  background-color: #eb963b56;
}
.data {
  color: dodgerblue;
  text-align: center;
  font-weight: 300;
}
.card {
  background-color: #eff7fc;
  border-color: rgba(30, 143, 255, 0.3);
  text-align: center;
}
.card-now {
  display: inline-block;
  bottom: -15px;
  top: 45px;
  background-color: #e1f1fb;
  max-height: 330px;
  border-color: rgba(30, 143, 255, 0.6);
}
.city {
  color: forestgreen;
  text-align: left;
  position: relative;
  left: 150px;
  top: 30px;
  font-weight: 300;
  font-size: x-large;
}
.time-main {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  color: dodgerblue;
  margin-bottom: 0px;
  font-weight: 450;
}
.temp-main {
  font-weight: 400;
  display: block;
  margin: 0 auto;
  font-size: 65px;
  margin-top: 20px;
  margin-bottom: -10px;
}
.main-temp {
  display: inline;
}
.C {
  font-weight: 300;
  font-size: 30px;
  position: relative;
  top: -25px;
}
#C,
#F {
  color: dodgerblue;
  text-decoration: none;
}
.main-emoji {
  font-size: 45px;
  position: relative;
  top: -7px;
}
.details-feels {
  position: relative;
  left: 10px;
}
.details-hum {
  position: relative;
  left: 140px;
  bottom: 98px;
}
.details-pres {
  position: relative;
  left: 270px;
  bottom: 196px;
}
.details {
  border-color: rgba(30, 143, 255, 0.3);
  background-color: #e7f1f8;
}
.emoji-week {
  font-size: 50px;
  margin-top: -25px;
}
.temp-week {
  font-size: 40px;
  font-weight: 300;
  color: dodgerblue;
  opacity: 0.8;
  margin-top: -5px;
}
d-main {
  display: block;
  margin: auto, 0;
  max-height: 500px;
  max-width: 800px;
  top: 10px;
}
.name {
  display: inline;
}
p.name {
  position: relative;
  top: 10px;
  left: 70px;
}
div.wind {
  margin-left: -1px;
  margin-right: -1px;
}
p.name {
  margin-left: -70px;
}
.weather-disc {
  margin-bottom: 0px;
  margin-left: -205px;
  margin-top: -10px;
  font-weight: 250;
}
#enter-city-form {
  margin-left: -100px;
}
.day-week {
  opacity: 0.6;
  margin-bottom: 0px;
  margin-top: -10px;
  font-weight: 250;
}
.week {
  max-height: 130px;
  width: 100px;
  margin: 8px;
  background-color: rgba(172, 226, 255, 0.325);
  border: none;
}

.forecast {
  margin-top: -90px;
}
#main-day-card {
  margin-top: -19px;
}

.card-forecast {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.wind-speed-details,
.humidity-details,
.temp-details {
  opacity: 0.9;
  font-weight: 500;
}
.col-2 {
  width: 106.5px;
}
