h1 {
  margin: 5px;
  line-height: 0.8;
  font-size: 34px;
  font-weight: 600;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

img {
  height: 36px;
}

h6 {
  color: darkslategray;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: darkgray;
}

.container {
  margin: 10px;
  width: 500px;
}

.card-body {
  background: linear-gradient(
    109.6deg,
    rgb(100, 178, 249) 11.2%,
    rgba(114, 231, 159, 0.8) 91.1%
  );
}

.location {
  border-radius: 20px;
  font-size: 10px;
  padding: 8px 12px;
}

.today {
  text-align: center;
  padding: 20px 0;
}

.timezone {
  font-size: 10px;
  position: relative;
  bottom: 3px;
}

.conditions {
  font-size: 12px;
  text-align: center;
  padding: 80px 0 0 40px;
}

.temp-mode {
  font-size: 18px;
  position: relative;
  bottom: 8px;
  font-weight: bold;
}

.range {
  font-size: 12px;
  text-align: center;
  padding: 80px 0 0 0;
}

.days {
  padding: 10px 0 5px 40px;
  font-size: 16px;
  font-weight: bolder;
}

.temps {
  padding: 7px 0 5px 0;
  font-size: 16px;
  text-align: center;
}

.rain-chance {
  padding: 10px 5px 5px 15px;
  font-size: 16px;
}

.wind {
  padding: 10px 0 5px 0;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.dew-point {
  padding: 10px 0 5px 20px;
}

.footer {
  font-size: 12px;
}

.active {
  cursor: default;
  color: darkslategray;
  text-decoration: none;
}

.active:hover {
  color: darkslategray;
}

#location {
  border-radius: 5px;
  transition: all 200ms ease-in;
  border: none;
  padding: 5px;
}

#search-button {
  border-radius: 5px;
  background-color: #212529;
  color: lightgray;
  border: none;
  padding: 5px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in;
}

#search-button:hover {
  background-color: #464f56;
}

#current {
  position: relative;
  left: 35px;
}

#divider {
  padding: 0;
}

#low-temp {
  padding: 0;
  border-left: 2px solid black;
}

#code-link {
  text-decoration: underline;
  color: blue;
  font-size: 12px;
}
