body {
  margin: 20px;
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  display: block;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 40px;
  margin-top: 26px;
}

p {
  padding: 20px 0;
}
li {
  display: block;
  list-style-type: disc;
}
ul {
  padding: 0 0 0 0;
}
h4 {
  padding: 10px;
  opacity: 0.9;
}
img {
  vertical-align: bottom;
}

.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 720px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weather-app {
  color: rgb(255, 255, 255);
}

.weather-app-wrapper {
  border: 1px solid
    linear-gradient(111.5deg, rgb(20, 100, 196) 0.4%, rgb(33, 152, 214) 100.2%);
  max-width: 600%;
  padding: 50px;
  border-radius: 20px;
  background: linear-gradient(
    111.5deg,
    rgb(20, 100, 196) 0.4%,
    rgb(33, 152, 214) 100.2%
  );
}

.unit {
  position: relative;
  top: -34px;
}
.float-left {
  display: inline;
}

.temperature {
  font-size: 60px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.current-temp .active {
  color: rgb(0, 174, 255);
  cursor: default;
  text-decoration: none;
}
.current-temp .active:hover {
  text-decoration: underline;
}

.weather-forecast .col-2 {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(5, 232, 186) 0%,
    rgb(8, 126, 225) 90%
  );
  border-radius: 20px;
}

.date {
  color: white;
  text-align: center;
}

.forecast-high {
  color: white;
  margin-right: 5px;
  margin-left: 15px;
}

.forecast-low {
  color: #06dcbe;
}

.github-address {
  margin: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.github-link {
  text-decoration: none;
}
