.weather-app {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

h1 {
  font-family: Exo 2;
  font-size: 50px;
  color: rgb(85, 29, 138);
}

h2 {
  font-size: 40px;
  text-align: left;
  color: rgb(109, 21, 21);
}

h3 {
  font-size: 30px;
  text-align: center;
}

h5 {
  font-size: 25px;
}

li {
  list-style: none;
  text-transform: capitalize;
}

p {
  text-transform: capitalize;
}

.button {
  display: block;
  margin: 0 auto;
  font-size: 10px;
}

.label {
  font-size: 40px;
  font-weight: bold;
  color: rgb(119, 16, 16);
}

.weather-forecast {
  margin-top: 40px;
  text-align: left;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

#date {
  font-size: 25px;
}

#search-text-input {
  font-size: 15px;
}

#current-temp {
  font-size: 30px;
  font-weight: bold;
  color: brown;
}

#fahr-temp {
  font-size: 30px;
  font-weight: bold;
  color: rgb(137, 19, 19);
}

#celsius-temp {
  font-size: 30px;
  font-weight: bold;
  color: rgb(63, 132, 56);
}

#fahrenheit {
  font-size: 25px;
  font-weight: bold;
  color: rgb(137, 19, 19);
}

#celsius {
  font-size: 25px;
  font-weight: bold;
  color: rgb(63, 132, 56);
}

#hi-lo {
  font-size: 20px;
  color: black;
}

#atmosphere {
  font-size: 35px;
  color: rgb(137, 19, 19);
  font-weight: bold;
}

#degrees {
  font-size: 35px;
}

#input-text {
  padding: 10px 20px;
}

#footnote {
  display: inline;
  margin: 0 auto;
  text-align: right;
}

